In [4]:
# for linear algebra
import numpy as np
# for data processing
import pandas as pd
# for plotting
import matplotlib.pyplot as plt
# for scaling and encoding. Scaling is used to normalize the data within a particular range. Encoding is used to convert categorical data into numeric data.
from sklearn import preprocessing
# for the check the error and accuracy of the model
from sklearn import metrics
# for splitting the data into train and test data
from sklearn.model_selection import train_test_split
# for linear regression model
from sklearn.linear_model import LinearRegression


#Loading Data
data = pd.read_csv('C:\\Users\ERALP\OneDrive\Desktop\Software Engineering\SWE599---Financial-Time-Series-Volatility-and-Return-Forecasting\Code\TSLA.csv')

#Seeing Data
data.head()

         Date   Open   High    Low  Close  Adj Close    Volume
0  2010-06-30  5.158  6.084  4.660  4.766      4.766  85935500
1  2010-07-01  5.000  5.184  4.054  4.392      4.392  41094000
2  2010-07-02  4.600  4.620  3.742  3.840      3.840  25699000
3  2010-07-06  4.000  4.000  3.166  3.222      3.222  34334500
4  2010-07-07  3.280  3.326  2.996  3.160      3.160  34608500